
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIGHT CART</title>
    <link rel="stylesheet" href="/css/otp.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<style>
    
       body {
           background-image: url('https://images.pexels.com/photos/276514/pexels-photo-276514.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
           background-repeat: no-repeat;
           background-attachment: fixed; 
           background-size: cover;
       }

</style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">LIGHT CART</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
           
        </div>
    </nav>



    
    <form action="/verifyotp" method="post">
        <div class="container d-flex justify-content-center align-items-center  " style="height: 100vh;">

            <div class="position-relative justify-content-center " >
                <div class="card p-2 text-center">
                    <h6>Please enter the one time password <br> to verify your account</h6>


                            <div> <span>A code has been sent to</span> <small></small> </div>
                            <input type="text" id="otp" name="otp">
                            <!-- <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> <input name="otp" class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" /> <input name="otp" class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" /> <input  name="otp" class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" /> <input name="otp" class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" /> <input name="otp" class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" /> <input name="otp" class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1" /> </div> -->
                            <div class="mt-4"> <button class="btn btn-danger px-4 validate"
                                    type="submit" id="sub">Submit</button> </div>
                            <div id="countdown">00:59</div>
                            <p><%=error%>></p>
                            <div id="hiddenButton" style="display: none;"> <!-- Initially hidden -->
                                <a id="showButton" href="/resentotp">Resend OTP</a>
                                <!-- <button id="showButton">Show Me!</button> -->
                            </div>
                </div>

            </div>
        </div>
    </form>


    <script>
        let seconds = 59;
let submitbtn=document.getElementById('sub')
function countdown() {
    const countdownDisplay = document.getElementById('countdown');
    const interval = setInterval(function () {
        countdownDisplay.textContent = seconds;
        
        if (seconds === 0) {
            clearInterval(interval);
            submitbtn.setAttribute("disabled",true)
            countdownDisplay.textContent = "OTP expired try Resend";
            showResendButton();  // Call the function to show the resend button
        } else {
            seconds--;
        }
    }, 1000);
}

countdown();  // Start the countdown

function showResendButton() {
    const hiddenButton = document.getElementById('hiddenButton');
    hiddenButton.style.display = 'block'; // Show the hidden button
}

        // Set a timeout to call the function after 1 minute (60,000 milliseconds)
        setTimeout(showButtonAfterOneMinute, 15000);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>